<!DOCTYPE html>
<html>
    {{> head}}
   <body>
       {{> header}}
       <p>Check my portfolio below!</p>
       <ul>
           <li>Project 1</li>
           <li>Project 2</li>
           <li>Project 3</li>
           <li>Project 4</li>
           <li>Project 5</li>
       </ul>
       {{> footer}}
   </body>
</html>